<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="mainwindow">
		<size>965,780</size>
		<id_arg>0</id_arg>
		<object class="wxButton" name="ID_BUTTON5" variable="Button2" member="yes">
			<label>START</label>
			<default>1</default>
			<pos>770,8</pos>
			<size>190,33</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="startstop" member="yes">
			<label>START</label>
			<default>1</default>
			<pos>770,8</pos>
			<size>190,33</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Listen IP</label>
			<pos>8,8</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Forward IP</label>
			<pos>328,8</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Listen port</label>
			<pos>200,8</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Forward port</label>
			<pos>536,8</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="listenip" member="yes">
			<value>127.0.0.1</value>
			<pos>64,8</pos>
			<size>130,24</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="listenport" member="yes">
			<value>2237</value>
			<pos>272,8</pos>
			<size>50,24</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="sendip" member="yes">
			<value>127.0.0.1</value>
			<pos>400,8</pos>
			<size>130,24</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="sendport" member="yes">
			<value>2277</value>
			<pos>624,8</pos>
			<size>50,24</size>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="fwen" member="yes">
			<label>Enabled</label>
			<pos>680,8</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="log" member="yes">
			<pos>8,488</pos>
			<size>952,232</size>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>default</family>
				<face>Nimbus Roman</face>
			</font>
			<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_DONTWRAP</style>
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="decodingact" member="yes">
			<label>Decoding</label>
			<pos>768,48</pos>
			<size>95,33</size>
			<enabled>0</enabled>
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="txon" member="yes">
			<label>TX On</label>
			<pos>864,48</pos>
			<size>95,33</size>
			<enabled>0</enabled>
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="txtimeout" member="yes">
			<content>
				<item>1</item>
				<item>2</item>
				<item>3</item>
				<item>4</item>
				<item>5</item>
			</content>
			<selection>1</selection>
			<pos>760,224</pos>
			<size>56,32</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>TX timeout in min.</label>
			<pos>616,232</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON4" variable="Button1" member="yes">
			<label>Clear decodes</label>
			<pos>8,448</pos>
			<size>100,33</size>
			<handler function="OnButton1Click1" entry="EVT_BUTTON" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX2" variable="onlycq" member="yes">
			<label>Show only CQ decodes</label>
			<checked>1</checked>
			<pos>224,456</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL10" variable="wantedloc" member="yes">
			<pos>544,72</pos>
			<size>60,328</size>
			<style>wxTE_MULTILINE</style>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="ignorelist" member="yes">
			<pos>472,72</pos>
			<size>60,328</size>
			<style>wxTE_MULTILINE</style>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="wantedlist" member="yes">
			<pos>400,72</pos>
			<size>60,328</size>
			<style>wxTE_MULTILINE</style>
		</object>
		<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="usewantedlist" member="yes">
			<label>Use wanted list</label>
			<pos>608,120</pos>
		</object>
		<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="useignorelist" member="yes">
			<label>Use ignore list</label>
			<pos>608,144</pos>
		</object>
		<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="usemindistance" member="yes">
			<label>Min. distance km. :</label>
			<pos>608,192</pos>
			<handler function="OnRadioButton3Select" entry="EVT_RADIOBUTTON" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="mindistance" member="yes">
			<value>3000</value>
			<pos>760,192</pos>
			<size>97,24</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>Wanted DX</label>
			<pos>400,48</pos>
			<size>72,19</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>Ignored DX</label>
			<pos>472,48</pos>
			<size>72,19</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
		</object>
		<object class="wxRadioButton" name="ID_RADIOBUTTON4" variable="usecq" member="yes">
			<label>All CQ&apos;s</label>
			<selected>1</selected>
			<pos>608,96</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>Wanted LOC</label>
			<pos>544,48</pos>
			<size>72,19</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
		</object>
		<object class="wxRadioButton" name="ID_RADIOBUTTON6" variable="usewantedloc" member="yes">
			<label>Use wanted LOC</label>
			<pos>608,168</pos>
		</object>
		<object class="wxToggleButton" name="ID_TOGGLEBUTTON1" variable="pause" member="yes">
			<label>Pause</label>
			<pos>768,88</pos>
			<size>192,33</size>
			<handler function="OnpauseToggle" entry="EVT_TOGGLEBUTTON" />
		</object>
		<object class="wxListCtrl" name="ID_LISTCTRL1" variable="decodesList" member="yes">
			<pos>8,48</pos>
			<size>384,390</size>
			<font>
				<size>10</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>default</family>
				<face>Nimbus Roman</face>
			</font>
			<style>wxLC_REPORT|wxLC_NO_HEADER</style>
		</object>
		<object class="wxButton" name="ID_BUTTON7" variable="Button4" member="yes">
			<label>Load</label>
			<pos>400,408</pos>
			<size>64,33</size>
			<handler function="OnButton4Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON8" variable="Button5" member="yes">
			<label>Load</label>
			<pos>544,408</pos>
			<size>64,33</size>
			<handler function="OnButton5Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON6" variable="Button3" member="yes">
			<label>Load</label>
			<pos>472,408</pos>
			<size>64,33</size>
			<handler function="OnButton3Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON9" variable="Button6" member="yes">
			<label>Clear log </label>
			<pos>112,448</pos>
			<size>100,33</size>
			<handler function="OnButton6Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select wanted DX file</message>
			<default_dir>.</default_dir>
			<wildcard>*.txt</wildcard>
		</object>
		<object class="wxFileDialog" variable="FileDialog2" member="yes">
			<message>Select ADI file</message>
			<wildcard>*.adi*</wildcard>
		</object>
	</object>
</wxsmith>
